body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
}
#wb_Text3 div
{
   text-align: left;
}
#Button2
{
   box-sizing: border-box;
   line-height: 53px;
   text-decoration: none;
   vertical-align: top;
   border: 1px outset #FF8000;
   border-radius: 4px;
   background-color: #FF8000;
   background-image: none;
   color: #FFFFFF;
   font-family: "Microsoft PhagsPa";
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   padding: 1px 6px 1px 35px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:hover
{
   background-color: #000000;
   outline-color: #FFFFFF;
   -webkit-transition: background-color 10ms linear 0ms, outline-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms, outline-color 10ms linear 0ms;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
   -webkit-animation: animate-fade-in 2000ms ease-in-out 50ms infinite alternate both;
   animation: animate-fade-in 2000ms ease-in-out 50ms infinite alternate both;
}
#wb_Text6 div
{
   text-align: justify;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#Shape5
{
   border-width: 0;
   vertical-align: top;
}
#Shape6
{
   border-width: 0;
   vertical-align: top;
}
#Shape7
{
   border-width: 0;
   vertical-align: top;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#Layer1
{
   background-color: #2D2D2D;
   background-image: none;
   border-radius: 0px;
   -webkit-animation: animate-fade-in-left 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in-left 500ms ease-in-out 10ms 1 normal both;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#IconFont1
{
   height: 35px;
   width: 26px;
}
#IconFont1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont1:hover i
{
   color: #FFFFFF;
}
#wb_Line1
{
   font-size: 0;
}
#Line1
{
   border-width: 0;
   height: 8px;
   width: 139px;
}
#wb_Line6
{
   font-size: 0;
}
#Line6
{
   border-width: 0;
   height: 8px;
   width: 139px;
}
#wb_Line7
{
   font-size: 0;
}
#Line7
{
   border-width: 0;
   height: 8px;
   width: 139px;
}
#wb_Line8
{
   font-size: 0;
}
#Line8
{
   border-width: 0;
   height: 8px;
   width: 139px;
}
#wb_Line9
{
   font-size: 0;
}
#Line9
{
   border-width: 0;
   height: 8px;
   width: 143px;
}
#Button1
{
   box-sizing: border-box;
   line-height: 43px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#Button3
{
   box-sizing: border-box;
   line-height: 43px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#Button4
{
   box-sizing: border-box;
   line-height: 45px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button4:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#Button5
{
   box-sizing: border-box;
   line-height: 45px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button5:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button10
{
   box-sizing: border-box;
   line-height: 43px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button10:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#wb_IconFont7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont7:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#IconFont7
{
   height: 35px;
   width: 26px;
}
#IconFont7 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont7:hover i
{
   color: #FFFFFF;
}
#wb_IconFont8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont8:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont8
{
   height: 35px;
   width: 26px;
}
#IconFont8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont8:hover i
{
   color: #FFFFFF;
}
#wb_IconFont10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont10:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont10
{
   height: 35px;
   width: 26px;
}
#IconFont10 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont10:hover i
{
   color: #FFFFFF;
}
#wb_IconFont12
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont12:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont12
{
   height: 35px;
   width: 26px;
}
#IconFont12 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont12:hover i
{
   color: #FFFFFF;
}
#wb_IconFont13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont13:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont13
{
   height: 35px;
   width: 26px;
}
#IconFont13 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont13:hover i
{
   color: #FFFFFF;
}
#wb_Line10
{
   font-size: 0;
}
#Line10
{
   border-width: 0;
   height: 8px;
   width: 139px;
}
#wb_IconFont4
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #FF8000;
   border-radius: 5px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont4
{
   height: 33px;
   width: 33px;
}
#IconFont4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 33px;
   line-height: 33px;
   vertical-align: middle;
   width: 32px;
}
#IconFont4:hover i
{
   color: #FF8000;
}
#wb_IconFont4:hover
{
   background-color: #FFFFFF;
   outline-color: #000000;
   -webkit-transition: background-color 10ms ease-in-out 0ms, outline-color 10ms ease-in-out 0ms;
   transition: background-color 10ms ease-in-out 0ms, outline-color 10ms ease-in-out 0ms;
}
