body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Shape28
{
   border-width: 0;
   vertical-align: top;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape2
{
   margin: 0;
   -webkit-animation: animate-fade-in 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms 1 normal both;
   animation: animate-fade-in 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms 1 normal both;
}
#Button9
{
   box-sizing: border-box;
   line-height: 53px;
   text-decoration: none;
   vertical-align: top;
   border: 1px outset #FF8000;
   border-radius: 4px;
   background-color: #FF8000;
   background-image: none;
   color: #FFFFFF;
   font-family: "Microsoft PhagsPa";
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   padding: 1px 1px 1px 1px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button9:hover
{
   background-color: #000000;
   outline-color: #FFFFFF;
   -webkit-transition: background-color 10ms linear 0ms, outline-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms, outline-color 10ms linear 0ms;
}
#wb_IconFont11
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   vertical-align: top;
}
#IconFont11
{
   height: 50px;
   width: 44px;
}
#IconFont11 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 44px;
   line-height: 50px;
   vertical-align: middle;
   width: 43px;
}
#IconFont11:hover i
{
   color: #FF8000;
}
#wb_IconFont14
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   vertical-align: top;
}
#IconFont14
{
   height: 46px;
   width: 46px;
}
#IconFont14 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 46px;
   line-height: 46px;
   vertical-align: middle;
   width: 45px;
}
#IconFont14:hover i
{
   color: #FF8000;
}
#wb_IconFont15
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   vertical-align: top;
}
#IconFont15
{
   height: 46px;
   width: 47px;
}
#IconFont15 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 46px;
   line-height: 46px;
   vertical-align: middle;
   width: 45px;
}
#IconFont15:hover i
{
   color: #FF8000;
}
#wb_IconFont16
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   -webkit-animation: animate-fade-in 500ms ease-in-out 1ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 1ms 1 normal both;
   vertical-align: top;
}
#IconFont16
{
   height: 46px;
   width: 44px;
}
#IconFont16 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 44px;
   line-height: 46px;
   vertical-align: middle;
   width: 43px;
}
#IconFont16:hover i
{
   color: #FF8000;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Line1
{
   font-size: 0;
}
#Line1
{
   border-width: 0;
   height: 270px;
   width: 10px;
}
#Line1
{
   -webkit-animation: animate-fade-in-down 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in-down 500ms ease-in-out 10ms 1 normal both;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid transparent;
   border-radius: 2500px;
   padding: 0;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#MergedObject1
{
   -webkit-animation: animate-fade-in-down 500ms ease-out 10ms 1 normal both;
   animation: animate-fade-in-down 500ms ease-out 10ms 1 normal both;
}
#MergedObject2
{
   -webkit-animation: animate-fade-in-up 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in-up 500ms ease-in-out 10ms 1 normal both;
}
#MergedObject4
{
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
}
#wb_Text3 div
{
   text-align: justify;
}
#Layer1
{
   background-color: #2D2D2D;
   background-image: none;
   border-radius: 0px;
   -webkit-animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
   animation: animate-fade-in 500ms ease-in-out 10ms 1 normal both;
}
#Button1
{
   box-sizing: border-box;
   line-height: 57px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#Button2
{
   box-sizing: border-box;
   line-height: 57px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#Button4
{
   box-sizing: border-box;
   line-height: 57px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button4:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#Button3
{
   box-sizing: border-box;
   line-height: 57px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#Button5
{
   box-sizing: border-box;
   line-height: 57px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button5:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#wb_IconFont10
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont10:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont10
{
   height: 35px;
   width: 26px;
}
#IconFont10 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont10:hover i
{
   color: #FFFFFF;
}
#wb_IconFont13
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont13:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont13
{
   height: 35px;
   width: 26px;
}
#IconFont13 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont13:hover i
{
   color: #FF8000;
}
#wb_IconFont8
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont8:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont8
{
   height: 35px;
   width: 26px;
}
#IconFont8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont8:hover i
{
   color: #FF8000;
}
#wb_IconFont7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont7:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#IconFont7
{
   height: 35px;
   width: 26px;
}
#IconFont7 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont7:hover i
{
   color: #FF8000;
}
#Button7
{
   box-sizing: border-box;
   line-height: 57px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button7:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#wb_IconFont3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#IconFont3
{
   height: 35px;
   width: 26px;
}
#IconFont3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont3:hover i
{
   color: #FF8000;
}
#wb_IconFont12
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont12:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont12
{
   height: 35px;
   width: 26px;
}
#IconFont12 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont12:hover i
{
   color: #FF8000;
}
#Button6
{
   box-sizing: border-box;
   line-height: 57px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button6:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#wb_IconFont6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont6:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#IconFont6
{
   height: 35px;
   width: 26px;
}
#IconFont6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont6:hover i
{
   color: #FF8000;
}
#Button8
{
   box-sizing: border-box;
   line-height: 57px;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #2D2D2D;
   border-radius: 4px;
   background-color: #2D2D2D;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button8:hover
{
   background-color: #FF8000;
   -webkit-transition: background-color 10ms linear 0ms;
   transition: background-color 10ms linear 0ms;
}
#wb_IconFont5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #404040;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#IconFont5
{
   height: 35px;
   width: 26px;
}
#IconFont5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 26px;
   line-height: 35px;
   vertical-align: middle;
   width: 25px;
}
#IconFont5:hover i
{
   color: #FF8000;
}
#SiteSearch2
{
   border: 2px solid #000000;
   border-radius: 50px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   line-height: 24px;
   padding: 4px 4px 4px 50px;
   margin: 0;
   text-align: left;
   -webkit-animation: animate-fade-in 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms 1 normal both;
   animation: animate-fade-in 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 10ms 1 normal both;
}
#SiteSearch2:hover
{
   border-color: #FF8000;
   -webkit-transition: border-color 10ms ease-in-out 10ms;
   transition: border-color 10ms ease-in-out 10ms;
}
.search-item, .search-text
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
}
.search-text
{
   margin: 0 0 4px 0;
}
.search-title, .search-title:active, .search-title:hover, .search-title:visited
{
   color: #1A0DAB;
}
.search-url, .search-url:active, .search-url:hover, .search-url:visited
{
   color: #006621;
   text-decoration: none;
}
.search-highlight
{
   font-weight: bold;
   font-style: normal;
}
.clickable
{
   cursor: pointer;
}
#search-pagination
{
   display: inline-block;
   list-style: none;
   padding: 0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-size: 0;
   margin: 8px 0 0 4px;
}
#search-pagination > li
{
   display: inline;
   font-size: 19px;
}
#search-pagination > li > a, #search-pagination > li > span
{
   position: relative;
   float: left;
   padding: 4px 10px 4px 10px;
   text-decoration: none;
   background-image: none;
   border: 1px #DDDDDD solid;
   color: #000000;
   margin-left: -1px;
}
#search-pagination > li:first-child > a, #search-pagination > li:first-child > span
{
   margin-left: 0;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#search-pagination > li:last-child > a, #search-pagination > li:last-child > span
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#search-pagination > li > a:hover, #search-pagination > li > span:hover, #search-pagination > li > a:focus, #search-pagination > li > span:focus 
{
   background-color: #CCCCCC;
   color: #23527C;
}
#search-pagination > .active > a, #search-pagination > .active > span, #search-pagination > .active > a:hover, #search-pagination > .active > span:hover, #search-pagination > .active > a:focus, #search-pagination > .active > span:focus
{
   z-index: 2;
   background-color:#000000;
   border-color:#000000;
   color: #000000;
   cursor: default;
}
#search-pagination > .disabled > span, #search-pagination > .disabled > span:hover, #search-pagination1 > .disabled > span:focus, #search-pagination > .disabled > a, #search-pagination > .disabled > a:hover, #search-pagination > .disabled > a:focus 
{
   background-color: #FFFFFF;
   color: #777777;
   cursor: not-allowed;
}
#SiteSearch2-dialog.fade
{
   opacity: 1;
   -webkit-transition: all 400ms linear;
   transition: all 400ms linear;
}
#SiteSearch2-dialog .animate-show
{
   -webkit-animation-duration: 400ms;
   animation-duration: 400ms;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: puff-in;
   animation-name: puff-in;
}
#SiteSearch2-dialog .animate-hide
{
   -webkit-animation-duration: 400ms;
   animation-duration: 400ms;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: puff-in;
   animation-name: puff-in;
   -webkit-animation-direction: reverse;
   animation-direction: reverse;
}
#SiteSearch2-dialog.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#SiteSearch2-dialog .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#SiteSearch2-dialog .modal-open
{
   overflow: hidden;
}
#SiteSearch2-dialog .modal-dialog
{
   position: relative;
   width: 600px;
   margin: 30px auto;
}
#SiteSearch2-dialog .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#SiteSearch2-dialog .modal-header
{
   min-height: 16px;
   padding: 15px 15px 15px 15px;
   border-bottom: 1px solid #ECEEEF;
}
#SiteSearch2-dialog .modal-footer
{
   padding: 15px 15px 15px 15px;
   border-top: 1px solid #ECEEEF;
}
#SiteSearch2-dialog .modal-body
{
   position: relative;
   width: 600px;
   height: 400px;
}
#SiteSearch2-dialog .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #292B2C;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   -webkit-transition: opacity .15s linear;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5;
}
.modal-open
{
   overflow: hidden;
}
#SiteSearch2-dialog .modal-title
{
   color: #292B2C;
   font-size: 16px;
   font-weight: 500;
   margin: 0;
}
#SiteSearch2-dialog .modal-content
{
   position: relative;
   background-color: #fff;
   border: 1px solid #999;
   border: 1px solid rgba(0, 0, 0, .2);
   border-radius: 6px;
   outline: 0;
   box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
   text-align: left;
   pointer-events: all;
}
#SiteSearch2-dialog .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#SiteSearch2-dialog .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ResponsiveMenu1
{
   background-color: rgba(45,45,45,1.00);
   display: block;
   font-family: Arial;
   font-weight: normal;
   text-align: center;
   width: 100%;
}
#ResponsiveMenu1
{
   background-color: #2D2D2D;
   display: inline-block;
   height: 60px;
}
#wb_ResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu1 ul li
{
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu1 ul li i
{
   font-size: 24px;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li a
{
   background-color: #2D2D2D;
   color: #FF8000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   border: 1px solid #2D2D2D;
   padding: 20px 25px 1px 27px;
   text-align: center;
   text-decoration: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   position: relative;
   height: 37px;
}
.ResponsiveMenu1 a 
{
   display: block;
}
#wb_ResponsiveMenu1 li a:hover, #wb_ResponsiveMenu1 li .active
{
   background-color: #2D2D2D;
   border-color: #2D2D2D;
   color: #FF8000;
}
#wb_ResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 60px;
}
#wb_ResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu1 ul ul li 
{
   float: none;
   position: relative;
   width: 222px;
}
#wb_ResponsiveMenu1 ul ul li a
{
   background-color: #404040;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul li a:hover, #wb_ResponsiveMenu1 ul ul li .active
{
   background-color: #FF8000;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul li i 
{
   margin-right: 8px;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul li a 
{
   color: #FFFFFF;
   padding-top: 5px;
   padding-right: 5px;
   padding-bottom: 5px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   left: 222px;
   position: relative;
   top: -60px;
}
#wb_ResponsiveMenu1 .arrow-down 
{
   display: inline-block;
   position: absolute;
   left: auto;
   right: 150px;
   top: calc(50% - 2px);
   width: 0;
   height: 0;
   margin-left: 0px;
   vertical-align: middle;
   border-top: 4px solid #FF8000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu1 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 0px;
   vertical-align: middle;
   position: absolute;
   left: auto;
   right: 5px;
   top: calc(50% - 2px);
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu1 li a:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{ 
   border-top-color: #FF8000;
}
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left
{ 
   border-left-color: #FFFFFF;
}
#wb_ResponsiveMenu1 .toggle,[id^=ResponsiveMenu1-submenu]
{
   display: none;
}
@media all and (max-width:320px) 
{
#wb_ResponsiveMenu1
{
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   padding: 5px 5px 5px 5px;
}
#wb_ResponsiveMenu1 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu1 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu1 
{
   background-color: transparent;
   display: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: auto !important;   margin: 0;
}
#wb_ResponsiveMenu1 .toggle 
{
   display: block;
   background-color: #2D2D2D;
   color: #FF8000;
   padding: 0 5px 0 5px;
   line-height: 34px;
   text-decoration: none;
   border: 1px solid #2D2D2D;
}
#wb_ResponsiveMenu1 .toggle:hover 
{
   background-color: #2D2D2D;
   color: #FF8000;
}
[id^=ResponsiveMenu1-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu1-title
{
   height: 60px !important;
   line-height: 60px !important;
   text-align: center;
}
#wb_ResponsiveMenu1 ul li 
{
   display: block;
   width: 100% !important;
   text-align: left;
}
#wb_ResponsiveMenu1 ul ul .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   padding: 0 10px;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #404040;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #404040;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul ul a 
{
   padding: 5px 5px 5px 15px;
}
#wb_ResponsiveMenu1 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu1 ul li i 
{
   margin-right: 8px;
}
#wb_ResponsiveMenu1 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu1 ul ul li:hover > ul,
#wb_ResponsiveMenu1 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu1 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu1-icon 
{
   display: block;
   position: absolute;
   left: 27px;
   top: 18px;
}
#ResponsiveMenu1-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #FF8000;
   color: #FF8000;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover
{
   background-color: #FF8000;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 .toggle .arrow-down 
{
   border-top-color: #FF8000;
}
#wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{
   border-top-color: #FF8000;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down
{
   border-top-color: #FFFFFF;
}
}
